@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body,
html {
  padding: 0;
  margin: 0;
  background-color: silver;
}

.title {
  font-family: sans-serif;
  font-weight: bold;
  display: inline;
  font-size: 23px;
}

.navbar-menu {
  padding: 15px;
  background-color: silver;
  border-bottom: 2px solid #161616;
}

.navbar-menu ul {
  display: block;
}

.navbar-menu ul li {
  display: inline;
  margin: 5px;
}

.navbar-menu ul li a {
  color: rgb(95, 95, 95);
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.navbar-menu a:hover {
  text-decoration: underline;
}

input[type="search"] {
  width: 210px;
  padding: 15px;
  border-radius: 15px;
  border: none;
}

::placeholder {
  color: #161616;
  font-family: sans-serif;
  font-weight: bold;
}

.search_id_engine p {
  color: white;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 225px;
  font-size: 35px;
}

input[type="search_id"] {
  width: 325px;
  padding: 25px;
  border-radius: 15px;
  border: none;
}

.button_id {
  background-color: white;
  border: 1px solid lightgray;
  color: black;
  padding: 10px 20px;
  border-radius: 4px; /* Optional: adds rounded corners */
  cursor: pointer;
}

.button_id:hover {
  background-color: #f5f5f5; /* light hover background */
}
